@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');

.navbar
{
  background-color: rgb(238, 238, 236);
}
.navbar-brand
{
  font-size: 30px;
  margin-left: 80px;
}
.nav-link
{
  font-size: 25px;
}
.navbar-nav
{
  margin-right: 160px;
  
}